# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm

# Angular
.angular/
dist/
tmp/
out-tsc/
bazel-out/

# Backend
dist/
*.log

# Environment
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project Specific
db.json
mock-site/
